@font-face {
    font-family: 'Manrope-Regular';
    src: url('../font/Manrope-Regular.tff') format('ttf');
}
@font-face {
    font-family: 'Manrope-Medium';
    src: url('../font/Manrope-Medium.tff') format('ttf');
}
@font-face {
    font-family: 'Manrope-Bold';
    src: url('../font/Manrope-Bold.tff') format('ttf');
}