$main-background-gradient: linear-gradient(147deg,#6b6969 26%, #d8d8d7 56%,  #6b6969 74%);

$main-font: "Manrope-Regular", sans-serif;
$main-bold-font: "Manrope-Bold", sans-serif;

$main-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
$light-background: rgba(255, 255, 255, 0.8);