@import '@/assets/styles/reset.scss';
@import '@/assets/styles/variables.scss';
@import '@/assets/styles/base.scss';


.review-slider {
  width: 30%;
  padding: 10rem;
  border-radius: 24rem;
  box-shadow: $main-shadow;
  overflow: hidden;
  position: relative;
  height: auto;

  
  
  &.fade-in {
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }

  &.fade-out {
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }

  .review-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .review-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
  }

  &__profile-picture {
    padding: 10rem;
    background-color: white;
    width: 120rem;
    height: 120rem;
    border-radius: 24rem;
    margin-bottom: 10rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__name {
    font-size: 24rem;
    margin-bottom: 10rem;
    color: white;
    font-family: $main-bold-font;
  }

  .rating {
    margin-bottom: 10px;
    font-size: 18rem;

    .filled-star {
      color: #ffc107;
    }

    .empty-star {
      color: #e4e5e9;
    }
  }

  &__text {
    font-size: 16rem;
    color: white;
    font-family: "Manrope-Regular", sans-serif;
  }

  .prev,
  .next {
    position: absolute;
    top: 40%;
    width: 40rem;
    height: 40rem;
    background: $light-background; 
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    color: #333;
    z-index: 10; 
    padding: 10px;
    border-radius: 50%;
    box-shadow: $main-shadow;
    font-size: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #007bff;
      color: #fff;
    }
  }

  .prev {
    left: 10rem;
  }

  .next {
    right: 10rem;
  }
}

.add-review-bottom,
.review-form-bottom {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  max-width: 600px;
  text-align: center;
  z-index: 100;
  font-family: $main-font;
  font-weight: 500;
  font-size: 18rem;
}

.add-review-bottom button,
.review-form-bottom button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #29973f;
  color: white;
  font-style: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: $main-font;
  font-weight: 500;
  font-size: 18rem;

  &:hover {
    background-color: #f90404;
  }
}

.review-form-bottom {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: $main-font;
  font-weight: normal;
  font-size: 18rem;

  h3 {
    margin-bottom: 10px;
    font-family: $main-font;
    font-weight: bold;
  }

  form {
    display: flex;
    flex-direction: column;
    font-family: $main-font;
    font-weight: 500;

    input,
    textarea {
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 1rem;
      font-family: $main-font;
      font-weight: 500;
      font-size: 18rem;
    }

    .rating-selection {
      margin-bottom: 10px;
      text-align: left;
      font-family: $main-font;
      font-weight: 500;
      font-size: 18rem;

      label {
        margin-right: 10px;
        font-size: 1rem;
        font-family: $main-font;
        font-weight: 500;
        font-size: 18rem;
      }

      select {
        padding: 5px;
        font-size: 1rem;
        font-family: $main-font;
        font-weight: 500;
        font-size: 18rem;
        border-radius: 6rem;
        border: 1px solid grey;
        cursor: pointer;
      }
    }

    .form-buttons {
      display: flex;
      justify-content: space-between;
      font-size: 18rem;

      button {
        padding: 10px 20px;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18rem;

        &:first-child {
          background-color: #28a745;
          color: white;

          &:hover {
            background-color: #218838;
          }
        }

        &:last-child {
          background-color: #dc3545;
          color: white;

          &:hover {
            background-color: #c82333;
          }
        }
      }
    }
  }
}












  